input[type="text"] {
  display: block;
}

body {
  background-color: white;  /* required to avoid vertical lines on window re-size */
}

button {
  margin-bottom: 0.5rem;
}

.d-none { display: none !important; }

#new-var-ui-container {
  display: flex;
  flex-wrap: wrap;
}

#new-var-ui-container label {
  width: 7rem;
}

#new-var-ui-container input {
  width: calc(100% - 7.5rem);
}