*.pyc
__pycache__
__pycache__/
/__pycache__/
venv
/venv/
.venv/
/.venv/
package-lock.json
package.json
node_modules/
details.txt
temp.txt
.screenshot.png
screenshot.jpg
.ssh/
*.docx
*.pdf
tmp/
db.sqlite3
